### Vagrant ###
# General
*.vagrant/
.cache/
.bash_history
.sudo_as_admin_successful

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log

# Share folder with the VM

files/

### Vagrant Patch ###
*.box